body {
  margin: auto; }

.nav {
  width: 100%; }
  .nav #navBar {
    margin: auto;
    display: flex;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2a2a2a;
    color: #ccc;
    font-size: 14px;
    font-weight: lighter; }
    .nav #navBar ul {
      margin: auto;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
      .nav #navBar ul li {
        justify-content: space-around;
        padding: 11px 8px 8px;
        display: flex; }
  .nav #searchLayer {
    display: flex;
    background-color: black;
    margin: auto;
    width: 100%;
    justify-content: flex-start; }
    .nav #searchLayer #searchContent {
      display: flex;
      align-items: center;
      margin-left: 26%; }
    .nav #searchLayer img {
      height: 90%;
      float: left;
      position: relative;
      display: block;
      margin-top: 7px;
      margin-bottom: 7px; }
    .nav #searchLayer input {
      margin-left: 45px;
      margin-top: 15px;
      margin-right: 17%;
      width: 397px;
      height: 45px;
      background-color: #555;
      border: none; }
    .nav #searchLayer ul {
      font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      display: flex; }
      .nav #searchLayer ul li {
        color: #ccc;
        font-size: 14px;
        padding: 11px 8px 8px;
        display: flex; }
  .nav .headerCol {
    display: flex;
    flex-direction: column; }
  .nav #searchBar a {
    color: #ccc;
    text-decoration: none;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px; }
  .nav .popUp {
    display: flex;
    background-image: url("https://www.rei.com/assets/drsp/membership/member-rewards/2018/swb/swb/live.jpg");
    height: 40px;
    width: 100%;
    margin-top: 0;
    align-items: center;
    justify-content: center; }
    .nav .popUp p {
      margin: 0;
      font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: black;
      font-size: 16px; }

.saleBanner {
  background-color: #efeee2;
  position: relative; }
  .saleBanner .backgroundStars {
    width: 100%; }
  .saleBanner .saleImage {
    top: calc(50% - 146px);
    left: calc(50% - 303px);
    position: absolute; }

.saleItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10%;
  margin-left: 10%; }
  .saleItems .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 283.98px;
    width: 240px;
    margin-top: 35px;
    text-align: center; }
    .saleItems .items p {
      font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #222; }
    .saleItems .items img {
      height: 159.98px;
      width: auto; }

.outlet {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }
  .outlet .reiOutlet {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%; }
    .outlet .reiOutlet #redJacket {
      width: 340px;
      height: 255px;
      margin-right: 30px; }
    .outlet .reiOutlet .text {
      display: flex;
      flex-direction: column;
      color: #00718D;
      font-size: 1.25vw;
      font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .outlet .reiOutlet .text h2 {
        font-family: "Pressura",Consolas,monaco,monospace;
        font-weight: 500; }
      .outlet .reiOutlet .text img {
        display: flex;
        justify-content: flex-start;
        object-fit: cover;
        object-position: 0 5%;
        height: 48px;
        width: 299px; }
      .outlet .reiOutlet .text #reiBtn {
        width: 179.5px;
        height: 42px;
        background-color: #00718D;
        border-radius: 2px;
        font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #fff;
        font-size: 16px;
        font-weight: 200; }
  .outlet .outletSection {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 405px;
    justify-content: flex-start;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400; }
    .outlet .outletSection h1 {
      font-family: "Plak Black", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .outlet .outletSection .otltBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 50px;
      border: 1px solid #c5c5c5;
      font-size: 16px; }
    .outlet .outletSection img {
      height: 405px;
      width: 540px; }
  .outlet #travel {
    display: flex;
    flex-direction: row; }
    .outlet #travel img {
      display: flex;
      justify-content: flex-start;
      margin-right: 50px; }
    .outlet #travel #kilText {
      width: 540px;
      display: flex;
      text-align: left;
      align-items: center;
      flex-direction: column;
      justify-content: center; }
  .outlet #skiing {
    display: flex;
    flex-direction: row; }
    .outlet #skiing img {
      display: flex;
      justify-content: flex-end;
      margin-left: 50px; }
    .outlet #skiing #skiText {
      margin-left: 20px;
      width: 540px;
      align: left;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center; }
  .outlet #orderOnline {
    font-family: "Plak Black", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-top: 3%; }
    .outlet #orderOnline h2 {
      font-weight: 900;
      font-size: 30px; }

.trendingNow .trending {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline; }
  .trendingNow .trending .trendingItems {
    width: 225.75px;
    height: 275.312px; }
    .trendingNow .trending .trendingItems img {
      width: 140px;
      height: auto; }
    .trendingNow .trending .trendingItems h3 {
      display: flex;
      align-items: baseline; }

.categories {
  display: flex;
  width: 100%;
  flex-direction: column; }
  .categories #upperRow {
    display: flex;
    flex-direction: row; }
  .categories #lowerRow {
    display: flex;
    flex-direction: row; }
  .categories .brandNames {
    display: flex;
    flex-direction: row; }
    .categories .brandNames .top-categories {
      margin-right: 25%;
      display: flex;
      flex-direction: column;
      width: 25%; }
    .categories .brandNames .brands-we-love {
      margin-right: 25%;
      display: flex;
      flex-direction: column; }

/*# sourceMappingURL=output.css.map */
